:where([class^="vf-"], [class*=" vf-"], [class^="vif-"], [class*=" vif-"]),
:where(
  [class^="vf-"],
  [class*=" vf-"],
  [class^="vif-"],
  [class*=" vif-"]
)::before,
:where(
  [class^="vf-"],
  [class*=" vf-"],
  [class^="vif-"],
  [class*=" vif-"]
)::after {
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

:root.vf-theme-transitioning
  :where([class^="vf-"], [class*=" vf-"], [class^="vif-"], [class*=" vif-"]) {
  transition-property: transform, opacity !important;
  transition-duration: var(--vf-motion-duration-normal) !important;
  transition-timing-function: var(--vf-motion-ease-standard) !important;
}
